@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #142742;
  --color-secondary: #D1B320;
  --color-yellow-light: #FADC83;
  --color-surface-light: #A6A6A6;
  --color-background: #F4F4F9;
  --color-surface-dark: #45462A;

  --font-family-base: 'Roboto', sans-serif;
  --font-family-secondary: 'Montserrat', sans-serif;
}

@layer base {
  *, ::before, ::after {
    box-sizing: border-box;
  }

  html {
    font-family: var(--font-family-base);
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  @keyframes fade-slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fade-slide-up 0.8s ease-out forwards;
  }

  .delay-100 { animation-delay: 0.1s; }
  .delay-200 { animation-delay: 0.2s; }
  .delay-300 { animation-delay: 0.3s; }
  .delay-400 { animation-delay: 0.4s; }
}


