@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #142742;
  --color-secondary: #D1B320;
  --color-surface-light: #A6A6A6;
  --color-background: #F4F4F9;
  --color-surface-dark: #45462A;

  --font-family-base: 'Roboto', sans-serif;
  --font-family-secondary: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}

